*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}
:root{
    --card-bg:#f8fafc;
    --btn-bg:#06b6d4;
    --input-bg: #e5e7eb;
}
body{
    background-color: #e5e7eb;
    padding: 40px;
}
.app--container{
    display: flex;
    gap: 20px;
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:20px;
}
.form--container{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.personal--navbar{
    padding: 14px;
    display: flex;
    justify-content: space-around;
    background-color: var(--card-bg);
    border-radius: 6px;
}
.tab--btn{
    background-color: var(--btn-bg);
    color: var(--card-bg);
    padding: 14px;
    max-width: 130px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 0.86rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
}
.form{
    background-color: var(--card-bg) ;
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}
.form input, textarea{
    padding: 7px 10px;
    border-radius: 8px;
    max-width: 380px;
    font-size: 0.9rem;
    border: none;
    background-color: var(--input-bg);
    margin-bottom: 10px;
}
.form--header-text{
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.form label{
    font-weight: 500;
}
.cv--container{
    background: var(--card-bg);
    min-height: 600px;
}
.cv--header{
    background-color: var(--btn-bg);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cv--contact{
    display: flex;
    gap: 40px;
    margin-top: 10px;
}
.cv--main{
    padding: 18px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    width: 700px;
}
.cv--education-detail, .cv--experience-detail{
    display: grid;
    grid-template-columns: repeat(2, 160px 300px);
    margin:10px 0px;
    padding: 4px 0px;
    justify-content: start;
    align-items: start;
    gap: 100px;
    border-bottom: 2px solid #cbd5e1;
    width: 600px;
}
.cv--duration{
    font-size: 0.9rem;
}
.cv--job-description{
    width: 40ch;
    font-size: 0.9rem;
}