* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --card-bg: #f8fafc;
  --btn-bg: #38bdf8;
  --input-bg: #e5e7eb;
  --navbar-bg: #99f6e4;
  --btn-color: #1e293b;
  --delete-btn-bg: #dc2626;
  --personal-bg: #082f49;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  align-items: center;
  background: var(--navbar-bg);
}
.navbar--tab-container {
  width: 350px;
}
.navbar--btn,
.btn {
  padding: 10px 14px;
  width: 140px;
  outline-offset: 0.2rem;
  cursor: pointer;
  border-radius: 4px;
  background: var(--btn-bg);
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  box-shadow: 2px 1px 2px;
  border: none;
  font-weight: bold;
  color: var(--btn-color);
}
.btn-delete {
  background: var(--delete-btn-bg);
  color: white;
}
.btn-add {
  background: var(--btn-bg);
}
.navbar--btn:hover,
.btn:hover {
  opacity: 0.8;
}
.navbar--btn:active {
  outline: 3px solid var(--btn-color);
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
.main {
  display: flex;
  padding: 10px 70px;
  gap: 30px;
}
.form-container {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.personal-info,
.experience-container,
.education-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.form-container input,
textarea {
  padding: 6px;
  width: auto;
  border-radius: 5px;
  background: var(--input-bg);
}
.form-container input:focus,
textarea:focus {
  background: white;
}
.displayForm {
  padding-bottom: 10px;
  width: 100%;
  overflow: hidden;
  height: 800px;
  max-height: 1200px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.personal {
  background: var(--personal-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}
.personal h1 {
  font-size: 2rem;
}
.contact-details {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  gap: 15px;
}
.contact-details svg {
  width: 18px;
  fill: white;
}
.c-detail {
  font-size: 0.88rem;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.summary {
  border-top: 2px solid var(--delete-btn-bg);
  padding: 10px;
  text-align: start;
}
.section-heading {
  background: var(--navbar-bg);
  padding: 5px;
  text-align: center;
  color: var(--personal-bg);
}
.info-container {
  display: flex;
  gap: 20px;
  padding: 20px;

  margin: 10px;
}
.bottom-line {
  border-bottom: 2px solid var(--personal-bg);
}
.info-container .left-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.info-container .right-side {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.bold {
  font-weight: bold;
}
.light,
.summary {
  font-size: 0.9rem;
  opacity: 0.7;
}
.section-title svg {
  width: 20px;
}
.section-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease 0.3s;
  padding: 5px;
  border-radius: 5px;
}
.section-title:hover {
  background: var(--navbar-bg);
  opacity: 0.8;
}
.collapse {
  padding: 10px;
  margin: 10px 0px;
  border: 2px solid rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.btn-container,
.navbar--tab-container {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}
@media screen and (max-width: 1100px) {
  .btn,
  .navbar--btn {
    width: auto;
    font-size: 0.8rem;
  }
  .form-container {
    font-size: 0.8rem;
  }
  .personal-info input,
  textarea,
  .experience-container input,
  .education-container input {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .main {
    display: block;
    padding: 0px 18px;
    margin: auto;
  }
  .navbar{
    padding: 12px;
  }
  .navbar--tab-container {
    justify-content: flex-end;
    gap: 20px;
  }
  .form-container {
    margin: 20px auto;
  }
  .displayForm,
  .personal p {
    font-size: 0.8rem;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    gap: 5px;
    width: auto;
  }
  .navbar {
    width: 100%;
    padding: 10px;
  }
  .navbar--btn {
    width: auto;
    padding: 10px 2px;
    font-size: 0.6rem;
    width: 90px;
    font-weight: bold;
  }
  .main {
    padding: 8px;
  }
  .btn {
    padding: 8px 12px;
    width: auto;
  }
  .contact-details {
    gap: 6px;
  }
  .contact-details p {
    font-size: 0.7rem;
  }
  .c-detail {
    gap: 2px;
  }
  .contact-details svg {
    width: 10px;
  }
}
@media screen and (max-width: 400px) {
  .navbar--tab-container{
    display: block;
  }
  .navbar--btn{
    letter-spacing: 0;
    padding:10px  5px;
    margin: 0px 5px;
    width: auto;
  }
  .navbar{
    padding: 2px;
  }
  .contact-details  {
    margin: 10px 0px;
  }
  .contact-details p{
    font-size: 0.56rem;
  }
  .displayForm,
  .light {
    font-size: 0.8rem;
    height: auto;
  }
}
